dataset/house_data.tar.gz
dataset/house_data
dataset/minecraft_worlds
dataset/matplotlib notebook.ipynb
.ipynb_checkpoints
.vscode/settings.json
.gitignore
dataset/.ipynb_checkpoints
__pycache__
runs
lightning_logs
output/block2vec
block2vec/output/block2vec
output
dataset/block2vec_preprocessed.npy
*/.DS_Store
.DS_Store
temp.ipynb
